{% extends 'base_with_navigation.jinja.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('collections.browse') }}">Back to all collections</a>
    <h1>{{ collection.name }}</h1>
    <p>Posted by <a href="{{ url_for('users.profile', username=collection.user.username) }}">{{ collection.user.username }}</a></p>

        {% if collection.guitars %}
        <ul>
            {% for guitar in collection.guitars %}
                <li>{{ guitar.brand }} {{ guitar.model }} <strong>({{ guitar.year }})</strong></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No guitars!</p>
        {% endif %}
</div>
{% endblock %}
