{#
    This is the base template, all other templates inherit from this,
    it doesn't include a site wide navigation or header. Those are in
    base_with_navigation.jinja.html.

    Blocks you can edit:
    - page_title
    - page_description
    - content
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block page_title %}Guitar Collections{% endblock %}</title>
    <meta name="description" content="{% block page_description %}A website for sad bastards like me to show off their guitar collections {% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body class="">
    {% block navigation %}
    {% endblock %}



    {% if error %}
        {{ error }}
    {% endif %}
    <div class="content">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}


        {% block content %}
        {% endblock %}
    </div>
    <!-- Global website footer -->
    <footer class="footer">
        <div class="container">
            <p>This is the footer</p>
        </div>
    </footer>
</body>
</html>
