{% extends 'base.jinja.html' %}

{% block content %}
<!-- Call to action -->
<header class="call-to-action">
    <div class="container">
        <h1 class="call-to-action__title">Guitar Collections</h1>
        <h2 class="call-to-action__subtitle">Show off your guitar collection
            to people that care.</h2>

        <button class="button button--main button--large">Get started &#8594;</button>
    </div>
</header>

<!-- Featured collections section -->
<section class="band band--grey">
    <div class="container">
        <h3 class="band__title">Featured collections</h3>
        <h4 class="band__subtitle">Here are some we thought were really special...</h4>

        <!-- A list of featured collections -->
        <div class="collection-list">

            {% for collection in featured_collections %}

                <div class="collection-list__item">
                    <!-- A single collection with header image -->
                    <div class="collection collection--showimage">
                        <img class="collection__picture" src="http://lorempixel.com/400/200" alt="" >
                        <div class="collection__information">
                            <h4 class="collection__title">{{ collection.name }}</h4>
                            <span class="collection__author">Submitted by <a href="">{{ collection.user.email }}</a></span>

                            <p class="collection__description">{{ collection.description }}</p>
                        </div>
                        <a href="" class="button button--main button--block">View collection</a>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="band__cta text-center">
            <h5 class="h4"><strong>{{ random_guitar.brand }} {{ random_guitar.model }}</strong> piqued your interest?</h5>
            <a href="" class="button button--main button--large">See all collections &#8594;</a>
        </div>
    </div>
</section>
<!-- Reasons to use the website -->
<section class="band">
    <div class="container">
        <h3 class="band__title">Reasons to post your collections...</h3>
        <div class="band__content">
            <div class="feature-list">
                <div class="feature">
                    <h5>Share your pride and joy with the world</h5>
                    <p>Some content for the reason that I havent written yet</p>
                </div>
                <div class="feature">
                    <h5>Another reason</h5>
                    <p>Some content for the reason that I havent written yet</p>
                </div>
                <div class="feature">
                    <h5>Feature title</h5>
                    <p>Some content for the reason that I havent written yet</p>
                </div>
                <div class="feature">
                    <h5>Feature title</h5>
                    <p>Some content for the reason that I havent written yet</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recently added collections -->
<section class="band band--alt">
    <div class="container">
        <h3 class="band__title">Newly added collections</h3>
        <h4 class="band__subtitle">Collections added in the last 24 hours</h4>

        <div class="collection-list--newlyadded">
            <div class="collection-list__item">
                <div class="collection collection--bare">
                    <div class="collection__information">
                        <h4 class="collection__title">My collection</h4>
                        <span class="collection__author">Submitted by <a href="">user123456</a></span>
                        <ul class="collection__list">
                            <li class="collection__list__item">1. <strong>Fender Mustang </strong>(1999)</li>
                            <li class="collection__list__item">2. <strong>Gibson SG </strong>(2010)</li>
                            <li class="collection__list__item">3. <strong>Gretsch GT40 </strong>(2015)</li>
                            <li class="collection__list__item">4. <strong>Danelectro Dano Pro </strong>(2010)</li>
                        </ul>
                        <a href="" class="collection__calltoaction">See the rest of the collection &#8594;</a>
                    </div>
                </div>
            </div>

            <div class="collection-list__item">
                <div class="collection collection--bare">
                    <div class="collection__information">
                        <h4 class="collection__title">My collection</h4>
                        <span class="collection__author">Submitted by <a href="">user123456</a></span>
                        <ul class="collection__list">
                            <li class="collection__list__item">1. <strong>Fender Mustang </strong>(1999)</li>
                            <li class="collection__list__item">2. <strong>Gibson SG </strong>(2010)</li>
                            <li class="collection__list__item">3. <strong>Gretsch GT40 </strong>(2015)</li>
                            <li class="collection__list__item">4. <strong>Danelectro Dano Pro </strong>(2010)</li>
                        </ul>
                        <a href="" class="collection__calltoaction">See the rest of the collection &#8594;</a>
                    </div>
                </div>
            </div>

            <div class="collection-list__item">
                <div class="collection collection--bare">
                    <div class="collection__information">
                        <h4 class="collection__title">My collection</h4>
                        <span class="collection__author">Submitted by <a href="">user123456</a></span>
                        <ul class="collection__list">
                            <li class="collection__list__item">1. <strong>Fender Mustang </strong>(1999)</li>
                            <li class="collection__list__item">2. <strong>Gibson SG </strong>(2010)</li>
                            <li class="collection__list__item">3. <strong>Gretsch GT40 </strong>(2015)</li>
                            <li class="collection__list__item">4. <strong>Danelectro Dano Pro </strong>(2010)</li>
                        </ul>
                        <a href="" class="collection__calltoaction">See the rest of the collection &#8594;</a>
                    </div>
                </div>
            </div>

            <div class="collection-list__item">
                <div class="collection collection--bare">
                    <div class="collection__information">
                        <h4 class="collection__title">My collection</h4>
                        <span class="collection__author">Submitted by <a href="">user123456</a></span>
                        <ul class="collection__list">
                            <li class="collection__list__item">1. <strong>Fender Mustang </strong>(1999)</li>
                            <li class="collection__list__item">2. <strong>Gibson SG </strong>(2010)</li>
                            <li class="collection__list__item">3. <strong>Gretsch GT40 </strong>(2015)</li>
                            <li class="collection__list__item">4. <strong>Danelectro Dano Pro </strong>(2010)</li>
                        </ul>
                        <a href="" class="collection__calltoaction">See the rest of the collection &#8594;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
