<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Guitar Collections</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A website for sad bastards like me to show off their guitar collections">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body></body>
</html>
