// A navigation component


// Baseline styles that all navigation components share
.navigation {
    // Reset for usage directly on a ul
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    font-size: 1.8rem;
    color: #FFF;
    overflow: auto;
}

.navigation--centered {
    margin: 0 auto;
}


.navigation--horizontal {

}

.navigation--horizontal .navigation__item {
    display: inline-block;
}

// Container around each individual item, usually a <li>
.navigation__item {

}

.navigation__link {
    text-decoration: none;
    padding: 2rem;
    display: block;
}

.navigation__link--active,
.navigation__link:hover {
    background-color: $brand_alt;
    color: #FFFFFF;
}

