{% extends 'base_with_navigation.jinja.html' %}
{% from '_helpers.jinja.html' import render_field_errors %}
{% block content %}
    <!-- todo: take out all this constrain garbage -->
    <div class="container">
        <h1 class="content__maintitle text-center">Log in to your account</h1>
        <p class="text-constrain text-constrain--center">Fill in the information below to log in. Don't have an account yet? <a href="{{ url_for('users.register') }}">Register an account</a></p>
        <form class="form--login" action="{{ url_for('users.login') }}" method="POST">
            {{ form.csrf_token }}
            <div class="form__group">
                {{ form.username.label(class='form__label') }}
                {{ form.username(class='form__field', placeholder='Enter your username') }}
                {{ render_field_errors(form.username) }}
            </div>
            <div class="form__group">
                {{ form.password.label(class='form__label') }}
                {{ form.password(class='form__field', placeholder='Your password') }}
                {{ render_field_errors(form.password) }}
            </div>

            <input type="submit" class="button button--main" value="Log in">
        </form>
    </div>
{% endblock %}
