// A collection is a small summary

// A list of collections
.collection-list {
    overflow: hidden;
}

.collection-list__item {

    @include breakpoint(small) {
        @include span(6 of 12);
    }

    @include breakpoint(medium) {
        @include span(4 of 12);
    }

    @include breakpoint(large) {
        @include span(3 of 12);
    }
}

.collection-list--newlyadded .collection-list__item {

    @include breakpoint(small) {
        @include span(6 of 12);
    }

    @include breakpoint(medium) {
        @include span(4 of 12);
    }

    @include breakpoint(large) {
        @include span(3 of 12);
    }
}

// Base collection styles
.collection {
    font-size: 1.6rem;
}

.collection--card {
    background-color: #FFFFFF;
    margin-bottom: 2rem;

    border: 1px solid #BBB;
    box-shadow: 0 2px 3px #BBB;
}

.collection--bare {
    border: 0;
    box-shadow: none;
}

.collection__picture {
    max-width: 100%;
}

.collection__information {
    padding: 2.5rem;
}

.collection__title {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.collection__author {
    color: #797575;
    font-size: 1.4rem;
    display: block;

    margin-bottom: 2.5rem;
}

.collection__description {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.5;
}


.collection__list {
    list-style-type: none;
    padding-left: 0;
}

.collection--featured {

}

// Test
.collection-test {

    @include span(4 of 12);

    @include breakpoint(large) {

    }
}



.collection__list li {
    margin-bottom: 1.2rem;
}



.collection-test .avatar img {
    border-radius: 50%;
}


.collection-test .collection__information .button--main {
    display: inline-block;

    @include breakpoint(large) {
        display: none;
    }
}

.collection-test .collection__information {
    padding: 0;
}
// Test

.collection--featured .collection__picture {
    max-width: 100%;
}

.collection--featured .collection__information {

}

