// Helper classes that don't belong to a component
.brand-main-bg {
    background-color: $brand_main;
}

.brand-main-dark-bg {
    background-color: $brand_main_dark;
}

.brand-alt-bg {
    background-color: $brand_alt;
}

.brand-alt-bg a,
.brand-alt-bg p {
    color: #FFF;
}

// Used to provide a maximum width for paragraphs of text
.text-constrain {
    max-width: 70rem;
}

.text-constrain--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// These are shamelessly taken from Bootstrap
.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
}

.link-unstyled {
    text-decoration: none;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


// Hide on different breakpoints at the specified breakpoint and below
// e.g. hide-small will only show on medium and above
.hide-small {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.hide-medium {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}
