// Homepage specific styles
// url: '/'

.call-to-action {
    background-color: $brand_main;
    padding-top: 4rem;

    text-align: center;
}


.call-to-action__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #FFFFFF;

    @include breakpoint(medium) {
        font-size: 5rem;
    }
}

.call-to-action__subtitle {
    font-size: 2rem;
    margin-top: 0;
    color: #999999;

    @include breakpoint(medium) {
        margin-bottom: 8rem;
    }

}

.call-to-action .button {
    margin-bottom: 9rem;
    background-color: #777777;
    border-color: #777777;
}
